@page "/"
@using Persistence.Features.Client.Services
@rendermode InteractiveServer
@inject IClientService clientService

<PageTitle>c2 - Dashboard</PageTitle>

@* HEADER *@
<div class="d-flex flex-row justify-content-between align-items-center">
    <div>
        <span class="fw-bold">Total clients: @_clients?.Count</span>
    </div>
    <button class="btn btn-secondary" @onclick="RefreshButton">Refresh</button>
</div>

@* CONTROL PANEL *@
<hr/>
<div class="d-flex flex-row">
    <div class="d-flex flex-row mb-2 align-items-center" style="width: 100%">
        <span class="fw-bold" style="width: 200px">Change Command:</span>
        <InputText class="form-control" @bind-Value="_newCommand"></InputText>
    </div>
</div>
<button class="btn btn-primary" @onclick="ChangeCommand">Apply</button>

@* TABLE *@
<hr/>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col" style="width: 3%"></th>
        <th scope="col" style="width: 3%">Nr.</th>
        <th scope="col" style="width: 18%; cursor: pointer">IP</th>
        <th scope="col" style="width: 18%; cursor: pointer">Port</th>
        <th scope="col" style="width: 18%; cursor: pointer">Command</th>
        <th scope="col" style="width: 18%; cursor: pointer">Last Connection</th>
        <th scope="col" style="width: 18%; cursor: pointer">First Connection</th>
    </tr>
    </thead>
    <tbody>
        @if (_clients == null || _clients.Count == 0)
        {
            <tr>
                <td colspan="12">@_message</td>
            </tr>
        }
        else
        {
            foreach (var (index, client) in _clients.Select((item, index) => (index, item)))
            {
                <tr>
                    <th><InputCheckbox class="form-check-input" @bind-Value="dummy"></InputCheckbox></th>
                    <th>@(index + 1)</th>
                    <td>@client.Ip</td>
                    <td>@client.Port</td>
                    <td>@client.Command</td>
                    <td>@client.LastModifiedDateTime</td>
                    <td>@client.CreatedDateTime</td>
                </tr>
            }
        }
    </tbody>
</table>
